favicon_io/site.webmanifest
index.html
favicon_io/android-chrome-512x512.png
favicon_io/apple-touch-icon.png
favicon_io/favicon-16x16.png
favicon_io/favicon-32x32.png
favicon_io/android-chrome-192x192.png
cropped-favicon.ico
