* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.add-task-btn {
  margin: 5px 5px;
  font-family: "Cairo", sans-serif;
}

.add-task-btn:hover {
  background-color: #033653;
}

body {
  /* background-color: #dfd3c3; */
background: #ff00cc;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #333399, #ff00cc);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #333399, #ff00cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.delete-task-btn {
  margin: 5px 5px;
  font-family: "Cairo", sans-serif;
}

.delete-task-btn:hover {
  background-color: #7a0000;
}

.delete-icon {
  position: relative;
  left: 5%;
  float: right;
}

.delete-icon:hover{
  color: blue;
}

.footer {
  /* background-color: darkgray; */

background: #bc4e9c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f80759, #bc4e9c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  margin: 0 auto;
  text-align: center;

  padding: 10px;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.list-of-task-section {
  margin: 10px 5%;
  min-width: 35%;
}

.main-app-heading {
  font-family: "Ubuntu", sans-serif;
}

.main-container {
background: #FFAFBD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  
  min-height: 60vh;
  text-align: center;

  margin: 5% 25%;
  padding: 10px 10px;

  box-shadow: 2px 2px 2px 2px #1132b6;
  border-radius: 10px;
}

/* Media queries for mobile screen */
@media screen and (max-width: 600px) {
  .main-container {
    margin: 3% 10%;
  }
}

.newTaskContent {
  margin: 10px 10px;
  padding: 5px 5px;
  color: blue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.show-all-task-btn {
  margin: 5px 5px;
  font-family: "Cairo", sans-serif;
}
.show-all-task-btn:hover {
  background-color: rgb(15, 104, 15);
}

.task-input-field {
  border: solid white 3px;
  border-radius: 4px;

  margin: 5px 5px;
}
.task-input-field:focus {
  background-color: lightgrey;
}

.task-inputsection {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.task-list-item {
  background-color: #d8d3cd;
  border-radius: 4px;

  font-size: 1.2rem;
  text-align: left;
  margin: 10px 5px;
}

.task-list {
  display: flexbox;

  color: black;
  justify-content: space-between;
  min-width: 50%;
}
