* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.add-task-btn {
  margin: 5px 10px;
font-family: 'Cairo', sans-serif;
}

.add-task-btn:hover {
    background-color: #033653;
}

body {
  background-color: #dfd3c3;
}

.delete-task-btn {
  margin: 5px 10px;
font-family: 'Cairo', sans-serif;
}

.delete-task-btn:hover {
    background-color: #7a0000
}

.delete-icon {
  position: relative;
  left: 5%;
  float: right;
}

.footer {
  background-color: darkgray;
  margin: 0 auto;
  text-align: center;

  padding: 10px;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.list-of-task-section {
  margin: 10px 5%;
  min-width: 35%;
}

.main-app-heading {
  font-family: "Ubuntu", sans-serif;
}

.main-container {
  background-color: #c7b198;
  min-height: 60vh;
  text-align: center;

  margin: 5% 30%;
  padding: 10px 10px;

  box-shadow: 3px 4px 2px #8d93ab;
}


/* Media queries for mobile screen */
@media screen and (max-width: 600px) {
  .main-container {
    margin: 3% 10%;
  }
}

.newTaskContent {
  margin: 10px 10px;
  padding: 5px 5px;
  color: blue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.task-input-field {
  border: solid white 3px;
  border-radius: 4px;

  margin: 5px 10px;
}
.task-input-field:focus {
  background-color: lightgrey;
}

.task-inputsection {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.task-list-item {
  background-color: #d8d3cd;
  border-radius: 4px;

  font-size: 1.2rem;
  text-align: left;
  margin: 10px 5px;
}

.task-list {
  display: flexbox;

  color: black;
  justify-content: space-between;
  min-width: 50%;

}