* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.add-task-btn {
    margin: 5px 5px;
    font-family: "Cairo", sans-serif;
}

.add-task-btn:hover {
    background-color: #033653;
}

body {
  /* background-color: #dfd3c3; */
  background: #ff00cc;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,
      #333399,
      #ff00cc);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,
      #333399,
      #ff00cc);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.delete-task-btn {
    margin: 5px 5px;
    font-family: "Cairo", sans-serif;
}

.delete-task-btn:hover {
   background-color: #7a0000;
}

.delete-icon {
    position: relative;
    left: 5%;
    float: right;
    cursor: pointer;
    margin-top: 5px;
}

.delete-icon:hover {
  /* color: blue; */
  cursor: pointer;
  animation: addNewTask 0.1s forwards linear;

}

  /* @keyframes addNewTask {
 
}   */



.footer {

    margin: 0 auto;
    text-align: center;
    padding: 10px;
    font-size: 1.6rem;
    font-weight: bold;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in;
    font-family: 'Philosopher',
    sans-serif;
  }

footer:hover {
    opacity: 0.8;
}


.list-of-task-section {
    margin: 10px 5%;
    min-width: 35%;
}

.main-app-heading {
    font-family: 'Titillium Web', sans-serif;
    font-size: 2.5rem;
}



.main-container {
    background: #ffafbd;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,
        #ffc3a0,
        #ffafbd);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,
        #ffc3a0,
        #ffafbd);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    min-height: 60vh;
    text-align: center;

    margin: 5% 25%;
    padding: 10px 10px;

    box-shadow: 2px 2px 2px 2px #1132b6;
    border-radius: 10px;
      box-shadow: 0 10.2px 22.7px -22px rgba(0, 0, 0, 0.026),
      0 19.7px 43px -22px rgba(0, 0, 0, 0.029),
      0 29.7px 61.6px -22px rgba(0, 0, 0, 0.036),
      0 44.7px 84.9px -22px rgba(0, 0, 0, 0.055),
      0 100px 181px -22px rgba(0, 0, 0, 0.12);



}


.newTaskContent {
    margin: 10px 10px;
    padding: 5px 5px;
    /* color: blue; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.show-all-task-btn {
    margin: 5px 5px;
    font-family: "Cairo", sans-serif;
}

.show-all-task-btn:hover {
    background-color: rgb(15, 104, 15);
}

.task-input-field {
    border: solid white 3px;
    border-radius: 4px;

    margin: 5px 5px;
}

.task-input-field:focus {
   background-color: lightgrey;
}

.task-inputsection {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.task-list-item {
    background-color: #d8d3cd;
    border-radius: 4px;
    font-size: 1.2rem;
    text-align: left;
    margin: 10px 5px;
    font-family: 'Quattrocento',
    serif;
    font-weight: bold;
}



.task-list {
    display: flexbox;

    color: black;
    justify-content: space-between;
    min-width: 50%;
}

.modal {
    display: none;
    position: fixed;
    height: 20%;
    width: 40%;
    border: solid black 2px;
    top: 40%;
    left: 30%;
    background-color: pink;
}


/* Media queries for mobile screen */
@media screen and (min-width: 360px) and (max-width: 578px) {

        .main-container {
          /* background-color: #fff; */
          margin: 3% 10%;
          box-shadow: 0 10.2px 22.7px -22px rgba(0, 0, 0, 0.026),
            0 19.7px 43px -22px rgba(0, 0, 0, 0.029),
            0 29.7px 61.6px -22px rgba(0, 0, 0, 0.036),
            0 44.7px 84.9px -22px rgba(0, 0, 0, 0.055),
            0 100px 181px -22px rgba(0, 0, 0, 0.12);
          /* min-width: 85vw; */


        }

      .delete-icon {
            position: relative;
            left: 10%;
            float: right;
            cursor: pointer;
        }


}

